@page
@model TorneoFutbolDepartamental.App.Frontend.pages.Municipios.IndexModel
@{
}
<h1>Listado de Municipios</h1>
<form method="get">
    <div class="form-group">
        <label for="b">Buscar</label>
        <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipios)
        {
            <tr>
                <td>@municipio.Nombre</td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-Municipioid="@municipio.MunicipioId">Detalles</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-Municipioid="@municipio.MunicipioId">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-page="./Create">Nuevo Municipio</a>
